xcode
build
storage
timing_scripts/local_tmp
*.DS_Store
*.out
*.o
*.a
CMakeFiles
CMakeScripts
CMakeCache.txt
cmake_install.cmake
Makefile
gcc_Debug.h
gcc_Release.h
*.deb
*.gate
*~
*.tmp
out
*.ffrig
*.mfrig
*.wir.*
!test/data/p1_aes.wir.GC_duplo
!test/data/p32_aes.wir.GC_duplo
SLP_AES_113.txtGC
frigate
location.hh
parser.cc
parser.hh
position.hh
scanner.cc
stack.hh